<!-- heading to show binary/hex -->
<div>
<table class="registers">
  <thead>
    <!-- binary/hex heading -->
    <tr>
      <!-- register label -->
      <th class="heading"></th>
      <th class="heading binary span4">binary</th>
      <th class="heading hex span4">hexadecimal</th>
    </tr>
    <!-- bytes heading -->
    <tr>
      <!-- register label -->
      <th class="heading"></th>
      <!-- binary -->
      <th class="heading binary byte-0">31            </th>
      <th class="heading binary byte-1">            16</th>
      <th class="heading binary byte-2">15   (ah)    8</th>
      <th class="heading binary byte-3">7    (al)    0</th>

      <!-- hex -->
      <th class="heading hex byte-0"> </th>
      <th class="heading hex byte-1"> </th>
      <th class="heading hex byte-2">ah</th>
      <th class="heading hex byte-3">al</th>

    </tr>
  </thead>

  <tbody>
  {{#each regs}}
    <tr class="reg {{name}}">
      <td class="label">{{name}}</td>

      <!-- value is a four byte array -->
      <!-- binary -->
      {{#each value}}
      <td id="reg-{{../name}}-{{@index}}-binary" class="odometer binary byte-{{@index}}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </td>
      {{/each}}

      <!-- hexadecimal -->
      {{#each value}}
      <td id="reg-{{../name}}-{{@index}}-hex" class="odometer hex byte-{{@index}}">
        <span></span>
        <span></span>
      </td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>

<!-- EFlags -->
<section class="eflags">
  {{#each eflags}}
  <div id="{{this.id}}" class="eflag {{this.id}}"
         data-name="{{this.name}}" data-description="{{this.description}}">
      <p>{{this.display}}</p>
      <p class="led">
      </p>
    </div>
  {{/each}}
</section>

</div>

<!--vim ft=handlebars -->
