<table class="src-dst-res">
<tbody>

  {{!-- assuming that dst and src have same number of bits --}}
  <tr class="carry">
    {{#each dst}}
      {{> _binary-digit }}
    {{/each}}
    {{!-- last column --not used by carry --}}
    <td></td>
  </tr>

  <tr class="dst">
    {{!-- carry out column --}}
    <td> </td>
    {{#each dst}}
      <td class="col" data-bit="{{this}}">{{this}}</td>
    {{/each}}
  </tr>

  <tr class="src">
    {{!-- carry out column  -- not used --}}
    <td>{{operation}}</td>
    {{#each src}}
      <td class="col" data-bit="{{this}}">{{this}}</td>
    {{/each}}
  </tr>

  <tr class="res">
    {{!-- carry out column -- not used --}}
    <td> </td>
    {{#each src}}
      {{> _binary-digit }}
    {{/each}}
  </tr>
</tbody>
</table>
